<% include ../_include/_header %>
<script type="text/javascript" src="../../js/slider.js"></script>
	<div class="main">
		<div class="basic__box about-1 main-visual">
			<div class="visual__wrap">
				<div class="wrap">
					<h3 class="about-visual__sub-tit">We Believe in the Power of</h3>
					<h2 class="about-visual__tit">
						‘Experience &amp; Know-How’
					</h2>
					<p class="about-visual__txt">드림메이커만의 노하우와 전략으로 평범한 것 이상의 공연과 무대가 만들어질 수 있도록 합니다.</p>
				</div>
			</div>
		</div>
		<div class="basic__box about-2">
			<div class="wrap">
				<h2 class="about__tit">
					<span>드림메이커는</span>
					대한민국의 콘텐츠를 전 세계에 알리고 있습니다.
				</h2>
				<div class="about__box">
					<p class="about__txt">
						국내·외 공연시장 동향, 대중의 기호 및 성향 등을 조사하여 더 정확하고 철저한 사전 준비로
						행사 운영을 성공적으로 이끌어나갑니다.<br><br>

						세계 많은 사람이 한국 고유의 코드를 접하고 흥미를 느 수 있는 공연을 진행하고 최고의
						아티스트와 최고의 무대를 만듭니다.<br><br>

						10여 년 간 오랜 노하우의 기반인 ‘한류의 중심에서 경험과 장기적인 안목’으로 꾸준히 인지도를 향상하고 폭넓게 네트워크를 키워가고 있습니다.
					</p>
				</div>
				<div class="about__bg">DM</div>
			</div>
		</div>
		<div class="basic__box about-3">
			<img src="../../images/about/about_ci.png" alt="Dream Maker - Entertainment" class="about__img">
			<p class="about__ci-txt">
				드림메이커의 기업 심볼(CI)은 다양한 경험과 노하우들이 서로 결합하여 새로운 경험을 제공한다는 의미를 담고 있다.<br>
				하나의 점들이 모여 새로운 모양을 형성하듯, 노하우들이 어우러져 무엇이든 가능한 세상으로 이끌어준다는 것을 표현하였다.
			</p>
		</div>
	</div>
<% include ../_include/_footer %>
