<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">News</span>
				</div>
			</div>
			<div class="wrap">
				<div class="filter">
					<div class="search type-another">
						<div class="search__wrap">
							<div class="search__box">
								<input type="text" class="search-input" placeholder="년도, 아티스트를 검색해보세요.">
								<a href="news_view.html" class="search__btn">검색</a>
							</div>
							<a href="news_view.html" class="btn1">RESET</a>
						</div>
					</div>
				</div>
				<div class="list-v1">
					<div class="list-v1__main">
						<div class="list-v1__main-box type-img">
							<img src="../../images/news/news_img1.jpg" alt="뉴스 메인사진 -현아">
						</div>
						<div class="list-v1__main-box type-txt">
							<div class="list-v1__main-wrap">
								<h2 class="list-v1__category">Notice</h2>
								<p class="list-v1__date">2017.04.22</p>
								<h3 class="list-v1__tit">SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아! SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아!</h3>
								<p class="list-v1__txt">아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
									SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오후 6시 멜론, 지니, 네이버뮤직 등 각종 음악 사이트에서 공개되며, 뮤직비디오도 유튜브 SMTOWN 채널,
									네이버 TV SMTOWN 채널 등을 통해 동시 오픈될 예정이어서 글로벌 음악 팬들의 뜨거운 호응을 얻을 전망이다.
									아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
										SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오후 6시 멜론, 지니, 네이버뮤직 등 각종 음악 사이트에서 공개되며, 뮤직비디오도 유튜브 SMTOWN 채널,
										네이버 TV SMTOWN 채널 등을 통해 동시 오픈될 예정이어서 글로벌 음악 팬들의 뜨거운 호응을 얻을 전망이다.
								</p>
							</div>
						</div>
					</div>
					<div class="list-v1__content">
						<ul class="list-v1__list">
							<li class="list-v1__item type-news">
								<div class="list-v1__content-box">
									<a href="news_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<h2 class="list-v1__category">News</h2>
									<p class="list-v1__date">2017.04.22</p>
									<h3 class="list-v1__tit">SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아! SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아!</h3>
									<p class="list-v1__txt">아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
										SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오오오오
									</p>
								</div>
							</li>
							<li class="list-v1__item type-notice">
								<div class="list-v1__content-box">
									<a href="news_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<h2 class="list-v1__category">Notice</h2>
									<p class="list-v1__date">2017.04.22</p>
									<h3 class="list-v1__tit">SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아! SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아!</h3>
									<p class="list-v1__txt">아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
										SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오오오오
									</p>
								</div>
							</li>
							<li class="list-v1__item type-news">
								<div class="list-v1__content-box">
									<a href="news_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<h2 class="list-v1__category">News</h2>
									<p class="list-v1__date">2017.04.22</p>
									<h3 class="list-v1__tit">SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아! SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아!</h3>
									<p class="list-v1__txt">아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
										SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오오오오
									</p>
								</div>
							</li>
							<li class="list-v1__item type-notice">
								<div class="list-v1__content-box">
									<a href="news_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<h2 class="list-v1__category">Notice</h2>
									<p class="list-v1__date">2017.04.22</p>
									<h3 class="list-v1__tit">SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아! SM ‘STATION’ 시즌 2 다섯 번째 주인공은 아시아 대표 뮤지션 보아!</h3>
									<p class="list-v1__txt">아시아 대표 뮤지션 보아(BoA, 에스엠엔터테인먼트 소속)가 SM ‘STATION’(스테이션) 시즌 2를 통해 신곡 ‘봄비 (Spring Rain)’를 발표한다.
										SM ‘STATION’ 다섯 번째 주인공 보아가 부른 신곡 ‘봄비 (Spring Rain)’는 오는 28일 오오오오
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="btn-wrap">
					<a href="" class="btn__more">More</a>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
