		<div class="footer">
		<div class="wrap">
			<div class="footer__wrap">
				<p class="footer__txt">© 2017 DREAMMAKER. All rights reserved.</p>
				<ul class="sns__list type-footer">
					<li class="sns__item nth-1"><a href="" class="sns__link">페이스북</a></li>
					<li class="sns__item nth-2"><a href="" class="sns__link">트위터</a></li>
					<li class="sns__item nth-3"><a href="" class="sns__link">인스타</a></li>
					<li class="sns__item nth-4"><a href="" class="sns__link">유튜브</a></li>
				</ul>
				<div class="footer__logo">
					<img src="../../images/common/footer_icon1.png" alt="s.m entertainment" class="footer__img">
					<img src="../../images/common/footer_icon2.png" alt="spectrum" class="footer__img">
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
