<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title>드림메이커</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.event.drag-1.5.1.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/slick.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<link rel="stylesheet" href="../../css/libs/normalize.css">
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/content.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="shortcut icon" href="../../images/common/malang.ico"><!-- 2017-03-30 수정-->
</head>
<body>
	<div class="body__wrap">
		<div class="header">
		<div class="wrap">
			<h1 class="logo"><a href="../main/main.html"><img src="../../images/common/logo.png" alt="드림메이커"></a></h1>
			<div class="gnb" id="gnb">
				<h2 class="gnb__tit"><span>주메뉴</span></h2>
				<a href="" class="gnb__menu-quick js-quick"></a>
				<div class="gnb__wrap">
					<div class="gnb__box">
						<ul class="gnb__depth1-list">
							<li class="gnb__depth1-item nth-0 is-mobile">
								<a href="../main/main.html" class="gnb__depth1-link">home</a>
							</li>
							<li class="gnb__depth1-item nth-1 is-active">
								<a href="../about/about.html" class="gnb__depth1-link">about</a>
							</li>
							<li class="gnb__depth1-item nth-2" data-title-en="Reference Room">
								<a href="../concert/concert.html" class="gnb__depth1-link">concert</a>
							</li>
							<li class="gnb__depth1-item nth-3">
								<a href="../festival/festival.html" class="gnb__depth1-link">festival</a>
							</li>
							<li class="gnb__depth1-item nth-4">
								<a href="../event/event.html" class="gnb__depth1-link">event</a>
							</li>
							<li class="gnb__depth1-item nth-5">
								<a href="../schedule/schedule.html" class="gnb__depth1-link">schedule</a>
							</li>
							<li class="gnb__depth1-item nth-6">
								<a href="../news/news.html" class="gnb__depth1-link">news</a>
							</li>
							<li class="gnb__depth1-item nth-7">
								<a href="../faq/faq.html" class="gnb__depth1-link">faq</a>
							</li>
							<li class="gnb__depth1-item nth-8">
								<a href="../contact/contact.html" class="gnb__depth1-link">contact</a>
							</li>
						</ul>
						<ul class="sns__list">
							<li class="sns__item nth-1"><a href="" class="sns__link">페이스북</a></li>
							<li class="sns__item nth-2"><a href="" class="sns__link">트위터</a></li>
							<li class="sns__item nth-3"><a href="" class="sns__link">인스타</a></li>
							<li class="sns__item nth-4"><a href="" class="sns__link">유튜브</a></li>
						</ul>
						<div class="global">
							<div class="global__wrap">
								<span class="global__tit js-global"><a href="" class="global__tit-link" onclick="return false;">KO</a></span>
								<ul class="global__list">
									<li class="global__item"><a href="" class="global__link">EN</a></li>
									<li class="global__item"><a href="" class="global__link">JP</a></li>
									<li class="global__item"><a href="" class="global__link">CH</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //gnb -->
		</div>
		<div class="dim"></div>
	</div>
