<% include ../_include/_header %>
<script type="text/javascript" src="../../js/slider.js"></script>
	<div class="content">
		<div class="content__wrap">
			<div class="basic__box visual festival-visual">
				<ul class="visual__list js-main">
					<li class="visual__item festival-1">
						<div class="visual__wrap festival-visual">
							<div class="wrap">
								<div class="festival__wrap">
									<h3 class="festival__sub-tit">2017.04.14 ~ 2017.04.15</h3>
									<h2 class="festival__tit">
										스펙트럼 댄스 뮤직 페스티벌<br>
										1일 공연 대성황!
									</h2>
									<ul class="btn__list type-another">
										<li class="btn__item">
											<a href="" class="btn__link">Detail View</a>
										</li>
										<li class="btn__item">
											<a href="" class="btn__link">Get Tickets</a>
										</li>
										<li class="btn__item">
											<a href="" class="btn__link">사이트 바로가기</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="visual__item festival-1">
						<div class="visual__wrap festival-visual">
							<div class="wrap">
								<div class="festival__wrap">
									<h3 class="festival__sub-tit">2017.04.14 ~ 2017.04.15</h3>
									<h2 class="festival__tit">
										스펙트럼 댄스 뮤직 페스티벌<br>
										1일 공연 대성황!
									</h2>
									<ul class="btn__list type-another">
										<li class="btn__item">
											<a href="" class="btn__link">Detail View</a>
										</li>
										<li class="btn__item">
											<a href="" class="btn__link">Get Tickets</a>
										</li>
										<li class="btn__item">
											<a href="" class="btn__link">사이트 바로가기</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="visual__indigate type-festival">
					<div class="visual__page"></div>
				</div>

				<a href="" class="visual__btn visual__btn-prev js-prev"></a>
				<a href="" class="visual__btn visual__btn-next js-next"></a>

			</div>
			<div class="wrap">
				<div class="festival__slide">
					<div class="list-v4 type-festival">
						<div class="list-v4__content">
							<ul class="list-v4__list type-three js-slide3">
								<li class="list-v4__item type-event">
									<div class="list-v4__content-wrap">
										<a href="festival_view.html" class="list-v4__link">자세히보기</a>
										<div class="list-v4__hover">
											<div class="list-v4__hover-wrap">
												<div class="list-v4__hover-vertical">
													<h2 class="list-v4__hover-category">Detail View</h2>
												</div>
											</div>
										</div>
										<div class="list-v4__content-box">
											<div class="list-v4__content-info">
												<p class="list-v4__date">2017.04.23 ~ 2017.04.24</p>
												<h3 class="list-v4__tit">2017 SEOUL WORLD DJ FESTIVAL PRE - PARTY</h3>
											</div>
										</div>
										<img src="../../images/festival/banner1.jpg" alt="" class="list-v4__img">
									</div>
								</li>
								<li class="list-v4__item type-event">
									<div class="list-v4__content-wrap">
										<a href="festival_view.html" class="list-v4__link">자세히보기</a>
										<div class="list-v4__hover">
											<div class="list-v4__hover-wrap">
												<div class="list-v4__hover-vertical">
													<h2 class="list-v4__hover-category">Detail View</h2>
												</div>
											</div>
										</div>
										<div class="list-v4__content-box">
											<div class="list-v4__content-info">
												<p class="list-v4__date">2017.04.22</p>
												<h3 class="list-v4__tit">2017 SEOUL WORLD DJ FESTIVAL PRE - PARTY</h3>
											</div>
										</div>
										<img src="../../images/festival/banner1.jpg" alt="" class="list-v4__img">
									</div>
								</li>
								<li class="list-v4__item type-event type-no">
									<div class="list-v4__content-wrap">
										<img src="../../images/festival/noimg.jpg" alt="" class="list-v4__img">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
