<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">Contact us</span>
				</div>
			</div>
			<div class="wrap">
				<div class="contact">
					<div class="contact__box">
						<div class="tab-v1">
							<ul class="tab-v1__list">
								<li class="tab-v1__item is-active">
									<a href="" class="tab-v1__link">Korea</a>
								</li>
								<li class="tab-v1__item">
									<a href="" class="tab-v1__link">Hongkong</a>
								</li>
							</ul>
							<div class="tab-v1__content is-active">
								<div class="contact__box type-map">
									<div class="map-box"id="map_view">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.8113941371225!2d127.05192781575539!3d37.512366279808205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca46ce6276ca9%3A0x3a4e29ad28031e63!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDsgrzshLHroZwgNTcw!5e0!3m2!1sko!2skr!4v1494817080542" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
								</div>
								<div class="address">
									<ul class="address__list">
										<li class="address__item">
											<h2 class="address__subject">Adress</h2>
											<p class="address__txt">서울특별시 강남구 삼성로 570 석천빌딩 9층</p>
										</li>
										<li class="address__item">
											<h2 class="address__subject">Email</h2>
											<p class="address__txt">dreammaker@dment.co.kr</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-v1__content">
								<div class="contact__box type-map">
									<div class="map-box"id="map_view">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.8113941371225!2d127.05192781575539!3d37.512366279808205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca46ce6276ca9%3A0x3a4e29ad28031e63!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDsgrzshLHroZwgNTcw!5e0!3m2!1sko!2skr!4v1494817080542" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
								</div>
								<div class="address">
									<ul class="address__list">
										<li class="address__item">
											<h2 class="address__subject">Adress</h2>
											<p class="address__txt">Suite 705, Tower2, The Gateway, 25 Canton RD Harbour City, Tsim Sha Tsui, Kowloon</p>
										</li>
										<li class="address__item">
											<h2 class="address__subject">Email</h2>
											<p class="address__txt">dreammaker@dment.co.kr</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
