<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">Schedule</span>
				</div>
			</div>
			<div class="wrap">
				<div class="calendar">
					<div class="calendar__month">
						<span class="calendar__tit js-calender"><span class="js-year">2017</span>.<span class="js-month">05</span></span>
						<div class="calendar__select">
							<ul class="select__menu js-scroll type-calender js-year-select">
								<li class="select__item"><a href="" class="select__btn">2017</a></li>
								<li class="select__item"><a href="" class="select__btn">2016</a></li>
								<li class="select__item"><a href="" class="select__btn">2015</a></li>
								<li class="select__item"><a href="" class="select__btn">2014</a></li>
								<li class="select__item"><a href="" class="select__btn">2013</a></li>
								<li class="select__item"><a href="" class="select__btn">2012</a></li>
								<li class="select__item"><a href="" class="select__btn">2011</a></li>
								<li class="select__item"><a href="" class="select__btn">2010</a></li>
							</ul>
							<ul class="select__menu js-scroll type-calender type-day js-month-select">
								<li class="select__item"><a href="" class="select__btn">01</a></li>
								<li class="select__item"><a href="" class="select__btn">02</a></li>
								<li class="select__item"><a href="" class="select__btn">03</a></li>
								<li class="select__item"><a href="" class="select__btn">04</a></li>
								<li class="select__item"><a href="" class="select__btn">05</a></li>
								<li class="select__item"><a href="" class="select__btn">06</a></li>
								<li class="select__item"><a href="" class="select__btn">07</a></li>
								<li class="select__item"><a href="" class="select__btn">08</a></li>
								<li class="select__item"><a href="" class="select__btn">09</a></li>
								<li class="select__item"><a href="" class="select__btn">10</a></li>
								<li class="select__item"><a href="" class="select__btn">11</a></li>
								<li class="select__item"><a href="" class="select__btn">12</a></li>
							</ul>
						</div>
						<ul class="select__menu js-scroll">
							<li class="select__item"><a href="" class="select__btn">exo</a></li>
							<li class="select__item"><a href="" class="select__btn">shinee</a></li>
						</ul>
						<a href="" class="calendar__btn calendar__btn-prev">이전</a>
						<a href="" class="calendar__btn calendar__btn-next">다음</a>
					</div>
					<ul class="calendar__week hidden-p">
						<li class="calendar__week-item">Mon</li>
						<li class="calendar__week-item">Tue</li>
						<li class="calendar__week-item">Wen</li>
						<li class="calendar__week-item">Thu</li>
						<li class="calendar__week-item">Fri</li>
						<li class="calendar__week-item">Sat</li>
						<li class="calendar__week-item">Sun</li>
					</ul>
					<div class="calendar__date">
						<ul class="calendar__list">
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Mon</span>
								</div>
								<span class="calendar__date">1</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Tue</span>
								</div>
								<span class="calendar__date">2</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Wen</span>
								</div>
								<span class="calendar__date">3</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Thu</span>
								</div>
								<span class="calendar__date">4</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Fri</span>
								</div>
								<span class="calendar__date">5</span>
							</li>
							<li class="calendar__item is-active">
								<div class="calendar__wrap">
									<span class="calendar__day">Sat</span>
									<div class="calendar__box">
										<span class="calendar__dot">스케쥴표시</span>
										<span class="calendar__dot">스케쥴표시</span>
									</div>
								</div>
								<span class="calendar__date">6</span>
							</li>
							<li class="calendar__item is-active">
								<div class="calendar__wrap">
									<span class="calendar__day">Sun</span>
									<div class="calendar__box">
										<span class="calendar__dot">스케쥴표시</span>
									</div>
								</div>
								<span class="calendar__date">7</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Mon</span>
								</div>
								<span class="calendar__date">8</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Tue</span>
								</div>
								<span class="calendar__date">9</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Wen</span>
								</div>
								<span class="calendar__date">10</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Thu</span>
								</div>
								<span class="calendar__date">11</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Fri</span>
								</div>
								<span class="calendar__date">12</span>
							</li>
							<li class="calendar__item is-active is-today">
								<div class="calendar__wrap">
									<span class="calendar__day">Sat</span>
									<div class="calendar__box">
										<span class="calendar__dot">스케쥴표시</span>
										<span class="calendar__dot">스케쥴표시</span>
									</div>
								</div>
								<span class="calendar__date">13</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Sun</span>
								</div>
								<span class="calendar__date">14</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Mon</span>
								</div>
								<span class="calendar__date">15</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Tue</span>
								</div>
								<span class="calendar__date">16</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Wen</span>
								</div>
								<span class="calendar__date">17</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Thu</span>
								</div>
								<span class="calendar__date">18</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Fri</span>
								</div>
								<span class="calendar__date">19</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Sat</span>
								</div>
								<span class="calendar__date">20</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Sun</span>
								</div>
								<span class="calendar__date">21</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Mon</span>
								</div>
								<span class="calendar__date">22</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Tue</span>
								</div>
								<span class="calendar__date">23</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Wen</span>
								</div>
								<span class="calendar__date">24</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Thu</span>
								</div>
								<span class="calendar__date">25</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Fri</span>
								</div>
								<span class="calendar__date">26</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Sat</span>
								</div>
								<span class="calendar__date">27</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Sun</span>
								</div>
								<span class="calendar__date">28</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Mon</span>
								</div>
								<span class="calendar__date">29</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Tue</span>
								</div>
								<span class="calendar__date">30</span>
							</li>
							<li class="calendar__item">
								<div class="calendar__wrap">
									<span class="calendar__day">Wen</span>
								</div>
								<span class="calendar__date">31</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="slide">
					<div class="slide__box">
						<ul class="slide__list js-slide1">
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date"><span class="list-v4__time">16 : 00</span></p>
											<h3 class="list-v4__tit">유리병 편지(The Letter)<br> Jonghyun</h3>
										</div>
									</div>
									<img src="../../images/schedule/1.jpg" alt="" class="list-v4__img">

								</div>
								<a href="" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date"><span class="list-v4__time">16 : 00</span></p>
											<h3 class="list-v4__tit">유리병 편지(The Letter)<br> Jonghyun</h3>
										</div>
									</div>
									<img src="../../images/schedule/1.jpg" alt="" class="list-v4__img">

								</div>
								<a href="" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date"><span class="list-v4__time">16 : 00</span></p>
											<h3 class="list-v4__tit">유리병 편지(The Letter)<br> Jonghyun</h3>
										</div>
									</div>
									<img src="../../images/schedule/1.jpg" alt="" class="list-v4__img">

								</div>
								<a href="" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date"><span class="list-v4__time">16 : 00</span></p>
											<h3 class="list-v4__tit">유리병 편지(The Letter)<br> Jonghyun</h3>
										</div>
									</div>
									<img src="../../images/schedule/1.jpg" alt="" class="list-v4__img">

								</div>
								<a href="" class="ticket">Get Tickets</a>
							</li>
						</ul>
					</div>
					<div class="btn_area type-another">
						<a href="" class="visual__btn visual__btn-prev js-schedule-prev"></a>
						<a href="" class="visual__btn visual__btn-next js-schedule-next"></a>
					</div>
				</div>
				<div class="filter">
					<div class="search type-another">
						<div class="search__wrap">
							<div class="search__box">
								<input type="text" class="search-input" placeholder="년도, 아티스트를 검색해보세요.">
								<a href="" class="search__btn">검색</a>
							</div>
							<a href="" class="btn1">RESET</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
