<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">Faq</span>
				</div>
			</div>
			<div class="wrap">
					<div class="list-v2">
						<ul class="list-v2__list">
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요. 지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
							<li class="list-v2__item">
								<div class="list-v2__header">
									<h2 class="list-v2__tit">지난 콘서트 공연 정보를 알고 싶어요.</h2>
								</div>
								<div class="list-v2__content">
									<p class="list-v2__txt">
										당일 취소 및 변경은 불가능합니다.<br>
										이후 자세한 사항은 구매하신 티켓예매 사이트를 참고하세요.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
<% include ../_include/_footer %>
