<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
				<div class="view type-concert">
					<div class="view__visual">
						<img src="../../images/concert/concert_view1_p.jpg" alt="엑소 콘서트" class="view__visual-img concert-img hidden-m"><!-- pc이미지 -->
						<img src="../../images/concert/concert_view1_m.jpg" alt="엑소 콘서트" class="view__visual-img concert-img hidden-p"><!-- mo이미지 -->
						<div class="view__visual-info">
							<div class="view__visual-wrap">
								<div class="view__visual-vertical">
									<p class="view__visual-date">2017. 07. 10</p>
									<h2 class="view__visual-tit">
										World’s Hottest Group,<br>
										EXO, Does it Again!
									</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap">
						<div class="view__body">
							초특급 블록버스터 유닛 EXO-CBX(엑소-첸백시, 에스엠엔터테인먼트 소속)가 첫 미니앨범 ‘Hey Mama!’(헤이 마마!)로 올 가을 가요계를 화려하게 수놓는다.<br><br>

							EXO-CBX만의 특별한 음악적 감성이 담긴 첫 미니앨범 ‘Hey Mama!’는 일렉트로닉 댄스, 레트로 팝 등 다양한 장르의 총 5곡을 수록, 글로벌 음악 팬들의 높은 관심을 얻을 것으로 보인다.<br><br>

							특히, 이번 타이틀 곡 ‘Hey Mama!’는 1970년대를 연상케 하는 펑크, 디스코, 팝 장르가 혼합된 유쾌한 분위기의 곡으로, 일상적인 오늘도 특별해질 수 있도록 신나게 놀자는 메시지를 가사에 담았으며, 지난 7월 개최된 엑소 세 번째 단독 콘서트에서 영상을 통해 짧게 공개돼 화제를 모았던 ‘The One’(더 원)은 오감을 통해 느껴지는 여인의 매력에 고백할 수밖에 없는 남자의
							마음을 표현한 가사가 특징이다.<br><br>

							또한 펑키한 그루브의 일렉트로닉 댄스곡 ‘Rhythm After Summer’(리듬 애프터 서머), 여인을 향한 사랑스러운 마음을 부드러운 보컬로 표현한 미디움 템포의 R&amp;B 발라드 곡
							‘Juliet’(줄리엣), 사랑에 빠진 남자의 설레는 마음을 가사에 담은 레트로 팝 스타일의 ‘Cherish’(체리시) 등이 수록되어 올 가을 가요계를 강타할 이번 신보에 대한 기대감이 더욱 고조되고 있다.<br><br>

							더불어 EXO-CBX는 첫 미니앨범 ‘Hey Mama!’ 공개에 앞서, 오는 30일 밤 10시 네이버 스타 라이브 어플리케이션 V의 EXO 채널을 통해 1, 2부로 특별 구성된 ‘EXO 첸백시 HOT DEBUT 전야제’를
							생방송으로 진행하며, 31일 오후 8시에는 서울 삼성동 코엑스 동측 광장 내 특설무대에서 'EXO-CBX HOT DEBUT STAGE'(엑소-첸백시 핫 데뷔 스테이지)도 개최할 예정이어서 음악 팬들의 뜨거운 호응이 기대된다.<br><br>

							한편, 지난 27일 공식 홈페이지(exo-cbx.smtown.com)를 통해 첸과 백현의 티저 이미지가 공개된 데 이어, 금일(28일) 0시에는 시우민 티저 이미지도 오픈돼 시선을 모으고 있으며,
							EXO-CBX는 오는 31일 0시 각종 음악 사이트를 통해 첫 미니앨범 ‘Hey Mama!’ 전곡 음원을 공개, 활발한 활동을 펼칠 계획이다.<br><br>
							<ul class="view__list">
								<li class="view__item">
									<img src="../../images/news/news_view2.jpg" alt="" class="view__img">
								</li>
								<li class="view__item">
									<img src="../../images/news/news_view2.jpg" alt="" class="view__img">
								</li>
							</ul>
							<div class="ticket-box">
								<a href="" class="ticket type-content">Get Tickets</a>
							</div>
						</div>
						<div class="view__footer">
							<ul class="view-btn__list">
								<li class="view-btn__item type-prev"><a href="" class="view-btn__link">Prev</a></li>
								<li class="view-btn__item type-list"><a href="concert.html" class="view-btn__link">List</a></li>
								<li class="view-btn__item type-next"><a href="" class="view-btn__link">Next</a></li>
							</ul>
						</div>
					</div>
				</div>

		</div>
	</div>
<% include ../_include/_footer %>
