<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">Concert</span>
				</div>
			</div>
			<div class="wrap">
				<div class="slide">
					<div class="slide__box">
						<ul class="slide__list js-slide2">
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<a href="concert_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.23</p>
											<h3 class="list-v4__tit">TAEYEON solo concert [PERSONA]</h3>
										</div>
									</div>
									<img src="../../images/concert/concert_1.jpg" alt="" class="list-v4__img">
								</div>
								<a href="concert_view.html" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<a href="concert_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.23</p>
											<h3 class="list-v4__tit">TAEYEON solo concert [PERSONA]</h3>
										</div>
									</div>
									<img src="../../images/concert/concert_1.jpg" alt="" class="list-v4__img">
								</div>
								<a href="concert_view.html" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<a href="concert_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.23</p>
											<h3 class="list-v4__tit">TAEYEON solo concert [PERSONA]</h3>
										</div>
									</div>
									<img src="../../images/concert/concert_1.jpg" alt="" class="list-v4__img">
								</div>
								<a href="concert_view.html" class="ticket">Get Tickets</a>
							</li>
							<li class="slide__item">
								<div class="list-v4__content-wrap">
									<a href="concert_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.23</p>
											<h3 class="list-v4__tit">TAEYEON solo concert [PERSONA]</h3>
										</div>
									</div>
									<img src="../../images/concert/concert_1.jpg" alt="" class="list-v4__img">
								</div>
								<a href="concert_view.html" class="ticket">Get Tickets</a>
							</li>
						</ul>
					</div>
					<div class="btn_area type-another">
						<a href="concert_view.html" class="visual__btn visual__btn-prev js-schedule-prev"></a>
						<a href="concert_view.html" class="visual__btn visual__btn-next js-schedule-next"></a>
					</div>
				</div>
				<div class="filter">
					<div class="search type-another">
						<div class="search__wrap">
							<div class="search__box">
								<input type="text" class="search-input" placeholder="년도, 아티스트를 검색해보세요.">
								<a href="concert_view.html" class="search__btn">검색</a>
							</div>
							<a href="concert_view.html" class="btn1">RESET</a>
						</div>
					</div>
				</div><!-- //filter -->
				<div class="list-v5">
					<ul class="list-v5__list">
						<li class="list-v5__item">
							<div class="list-v5__wrap">
								<div class="list-v5__date">
									<p class="list-v5__day">11</p>
									<p class="list-v5__year">2017.04</p>
								</div>
								<h2 class="list-v5__tit"><a href="concert_view.html" class="list-v5__link">[Hologram musical] 스쿨오즈(School OZ) GALA - BEGINNING OF DESTI</a></h2>
							</div>
						</li>
						<li class="list-v5__item">
							<div class="list-v5__wrap">
								<div class="list-v5__date">
									<p class="list-v5__day">11</p>
									<p class="list-v5__year">2017.04</p>
								</div>
								<h2 class="list-v5__tit"><a href="concert_view.html" class="list-v5__link">[Surround Viewing] TVXQ! SPECIAL LIVE TOUR - T1STORY - &...! SHORT VERSION</a></h2>
							</div>
						</li>
						<li class="list-v5__item">
							<div class="list-v5__wrap">
								<div class="list-v5__date">
									<p class="list-v5__day">11</p>
									<p class="list-v5__year">2017.04</p>
								</div>
								<h2 class="list-v5__tit"><a href="concert_view.html" class="list-v5__link">[Surround Viewing] TVXQ! SPECIAL LIVE TOUR - T1STORY - &...! SHORT VERSION</a></h2>
							</div>
						</li>
					</ul>

				</div>
				<div class="btn-wrap">
					<a href="#" class="btn__more">More</a>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
