<% include ../_include/_header %>
<script type="text/javascript" src="../../js/slider.js"></script>
	<div class="main">
		<div class="basic__box visual main-visual">
			<div class="pop-youtube">
				<div class="pop-youtube__wrap">
					<div class="youtube">
						<div class="youtube__bg is-active"></div>
						<div id="youtube_video" class="video1"></div>
						<a href="#" class="pop-youtube__close js-popup-close">닫기</a>
					</div>
				</div>
			</div>
			<ul class="visual__list js-main">
				<li class="visual__item main-1">
					<div class="visual__wrap main-visual">
						<div class="wrap">
							<h3 class="visual__sub-tit">2017. 01. 10</h3>
							<h2 class="visual__tit">
								2017 TAEYEON<br>
								BUTTERFLY KISS
							</h2>
							<p class="visual__txt">
								독보적 보컬리스트 태연<br>
								첫 솔로 콘서트 ‘태연의 아주 특별한 하루’
							</p>
							<a href="" class="video-open is-active js-play"></a>
							<a href="" class="visual__link">Get  Ticket</a>
						</div>
					</div>
				</li>
				<li class="visual__item main-2">
					<div class="visual__wrap">
						<div class="wrap">
							<h3 class="visual__sub-tit">2017. 01. 10</h3>
							<h2 class="visual__tit">
								2017 TAEYEON<br>
								BUTTERFLY KISS
							</h2>
							<p class="visual__txt">
								독보적 보컬리스트 태연<br>
								첫 솔로 콘서트 ‘태연의 아주 특별한 하루’
							</p>
							<a href="" class="video-open is-active js-play"></a>
							<a href="" class="visual__link">Get  Ticket</a>
						</div>
					</div>
				</li>
				<li class="visual__item main-3"></li>
				<div class="cycle-pager"></div>
			</ul>
			<div class="wrap">
				<div class="visual__indigate is-active">
					<div class="visual__page"></div>
					<a href="" class="visual__play is-play"></a>
				</div>
				<div class="main-icon is-active">
					<span class="mouse-icon1"></span><br>
					<span class="mouse-icon2"></span>
				</div>
			</div>
			<a href="" class="visual__btn visual__btn-prev js-prev"></a>
			<a href="" class="visual__btn visual__btn-next js-next"></a>
		</div>
		<div class="basic__box type-content">
			<div class="wrap">
				<div class="filter">
					<div class="search">
						<div class="search__wrap">
							<div class="search__box">
								<input type="text" class="search-input" placeholder="년도, 아티스트를 검색해보세요.">
								<a href="" class="search__btn">검색</a>
							</div>
							<a href="" class="btn1">RESET</a>
						</div>
					</div>
					<div class="search hidden-m">
						<div class="select">
							<div class="select__wrap">
								<div class="select__bundle">
									<div class="select__box">
										<a href="">년도</a>
									</div>
									<ul class="select__menu js-scroll">
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
										<li class="select__item"><a href="" class="select__btn">2017</a></li>
										<li class="select__item"><a href="" class="select__btn">2016</a></li>
									</ul>
								</div>
							</div>
							<div class="select__wrap">
								<div class="select__bundle">
									<div class="select__box">
										<a href="">아티스트</a>
									</div>
									<ul class="select__menu js-scroll">
										<li class="select__item"><a href="" class="select__btn">exo</a></li>
										<li class="select__item"><a href="" class="select__btn">shinee</a></li>
										<li class="select__item"><a href="" class="select__btn">super junior</a></li>
										<li class="select__item"><a href="" class="select__btn">red velvet</a></li>
										<li class="select__item"><a href="" class="select__btn">boa</a></li>
										<li class="select__item"><a href="" class="select__btn">exo</a></li>
										<li class="select__item"><a href="" class="select__btn">shinee</a></li>
										<li class="select__item"><a href="" class="select__btn">super junior</a></li>
										<li class="select__item"><a href="" class="select__btn">red velvet</a></li>
										<li class="select__item"><a href="" class="select__btn">boa</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 데이터 없을시 -->
				<!-- <div class="nodata">
					<p class="nodata__txt">
						입력하신 검색어와 일치하는 결과가 없습니다.<br>
						<span><strong>다시한번</strong> 검색해 주세요.</span>
					</p>
				</div> -->
				<!-- //데이터 없을시 -->
				<div class="list-v4">
					<div class="list-v4__content">
						<ul class="list-v4__list">
							<li class="list-v4__item type-concert">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Concert</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_1.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-festival">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Festival</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_2.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-schedule">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Schedule</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<p class="list-v4__day">
												<span>23</span>
											</p>
											<div class="list-v4__dim"></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-v4__item type-news">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">News</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현앙코르 콘서트 성공적 마무리! 서현앙코르 콘서트 성공적 마무리!</h3>
											<p class="list-v4__txt">대세 걸그룹 레드벨벳(Red Velvet, 에스엠엔터테인먼트 소속)이 태국, 대만에 이어 말레이시아 프로모션을 성황리에 마쳤다. 레드벨벳은 지난 21~23일 3일간 네 번째 미니앨범 ‘Rookie’(루키) 프로모션차</p>
										</div>
									</div>
								</div>
							</li>
							<li class="list-v4__item type-concert">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Concert</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_1.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-festival">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Festival</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_2.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-schedule">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Schedule</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<p class="list-v4__day">
												<span>23</span>
											</p>
											<div class="list-v4__dim"></div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-v4__item type-news">
								<div class="list-v4__content-wrap">
									<a href="" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">News</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현앙코르 콘서트 성공적 마무리! 서현앙코르 콘서트 성공적 마무리!</h3>
											<p class="list-v4__txt">대세 걸그룹 레드벨벳(Red Velvet, 에스엠엔터테인먼트 소속)이 태국, 대만에 이어 말레이시아 프로모션을 성황리에 마쳤다. 레드벨벳은 지난 21~23일 3일간 네 번째 미니앨범 ‘Rookie’(루키) 프로모션차</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="btn-wrap">
					<a href="" class="btn__more">More</a>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
