<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="content__visual">
				<div class="content__visual-wrap">
					<span class="content__visual-tit">Event</span>
				</div>
			</div>
			<div class="wrap">
				<div class="list-v4">
					<div class="list-v4__content">
						<ul class="list-v4__list">
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_1.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/noimg.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_3.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_3.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_1.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/noimg.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_3.jpg" alt="" class="list-v4__img">
								</div>
							</li>
							<li class="list-v4__item type-event">
								<div class="list-v4__content-wrap">
									<a href="event_view.html" class="list-v4__link">자세히보기</a>
									<div class="list-v4__hover">
										<div class="list-v4__hover-wrap">
											<div class="list-v4__hover-vertical">
												<h2 class="list-v4__hover-category">Detail View</h2>
											</div>
										</div>
									</div>
									<div class="list-v4__content-box">
										<div class="list-v4__content-info">
											<p class="list-v4__date">2017.04.22</p>
											<h3 class="list-v4__tit">서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리! 서현, 앙코르 콘서트 성공적 마무리!</h3>
										</div>
									</div>
									<img src="../../images/common/content_3.jpg" alt="" class="list-v4__img">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="btn-wrap">
					<a href="#" class="btn__more">More</a>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
