<% include ../_include/_header %>
	<div class="content">
		<div class="content__wrap">
			<div class="wrap">
				<div class="view">
					<div class="view__header">
						<h2 class="view__tit">대세 걸그룹 레드벨벳, 말레이시아 첫 프로모션 성황!</h2>
						<div class="view__info">
							<p class="view__date">2017.07.10</p>
						</div>
					</div>
					<div class="view__body">
						<img src="../../images/event/event_view1.jpg" alt="" class="view__img"><br><br>
						독보적 보컬리스트 태연(에스엠엔터테인먼트 소속)이 정규 1집 ‘My Voice’(마이 보이스) 디럭스 에디션으로 가온 주간 앨범 차트도 1위를 차지했다.<br><br>

						태연 정규 1집 ‘My Voice’ 디럭스 에디션은 지난 13일 발표된 4월 첫째 주(4월 2일~4월 8일) 가온 앨범 종합 차트 1위에 올라, ‘믿고 듣는 태연’의 막강 파워를 다시 한번 확인시켜 주었다.<br><br>

						지난 5일 발매된 이번 앨범은 한터차트, 신나라레코드, 핫트랙스, 알라딘 등 국내 각종 음반 차트 주간 1위를 차지했으며, 신비스러운 분위기가 돋보이는 타이틀 곡 ‘Make Me Love You’(메이크 미 러브 유) 역시 현재까지도 각종 음원 차트 상위권을 기록하는 등 음악 팬들의 많은 사랑을 받고 있다.<br><br>

						또한 이번 앨범에는 기존 정규 1집 수록곡에 타이틀 곡 ‘Make Me Love You’를 포함한 신곡 3곡과 작년 11월 선보인 디지털 싱글 ‘11:11’(일레븐 일레븐) 등 4곡을 추가 수록, 태연의 한층 깊어진 음악 감성을 만끽할 수 있어 좋은 반응을 얻고 있다.<br><br>

						한편, 태연은 오는 5월 12~14일 3일간 서울 올림픽공원 내 올림픽홀에서 두 번째 단독 콘서트 ‘TAEYEON solo concert “PERSONA”’(태연 솔로 콘서트 “페르소나”)를 개최한다.<br><br>
					</div>
					<div class="view__footer">
						<ul class="view-btn__list">
							<li class="view-btn__item type-prev"><a href="" class="view-btn__link">Prev</a></li>
							<li class="view-btn__item type-list"><a href="event.html" class="view-btn__link">List</a></li>
							<li class="view-btn__item type-next"><a href="" class="view-btn__link">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ../_include/_footer %>
