@charset "UTF-8";
@import "variables";
@import "mixins";
.about-visual{
	&__tit{margin:25px 0 0 0; font-size:68px; color:#fff; font-weight:600;}
	&__sub-tit{margin:0; font-size:48px; color:#fff; font-weight:200; text-transform: uppercase;}
	&__txt{margin:40px 0 0 0; font-size:18px; color:#fff;}
	@media only screen and (max-width:$tablet-size) {
		&__tit{margin:15px 0 0 0; font-size:36px;}
		&__sub-tit{font-size:18px;}
		&__txt{margin:20px 0 0 0; font-size:12px; color:#fff;}
	}
}
.about{
	&__tit{margin:0; font-size:34px; font-weight:500; line-height: 1.3; text-align:center; color:#222;
		& span{display:block; font-size:46px; font-weight:200; color:#000;}
	}
	&__box{margin-top:80px; height:857px; padding-left:630px; background:url('../images/about/about_bg1.jpg') no-repeat center center; box-sizing:border-box;}
	&__img{width:151px; height:100px;}
	&__txt{margin:0; font-size:16px; color:#222; line-height:1.8;}
	&__ci{margin:20px 0 0 0; font-size:48px; color:#fff;}
	&__ci-m{display:none; margin:0;}
	&__ci-txt{margin:20px 0 0 0;font-size:16px; color:#fff; line-height:2;}
	&__bg{display:none; position:relative; width:100%; height:0; margin:30px 0 0 0; padding-bottom:59.03%; background:url('../images/about/about_bg1_m.jpg') no-repeat center center; background-size:cover;}
	// &__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	@media only screen and (max-width:$tablet-size) {
		&__box{height:auto; margin:30px 0 0 0; padding-left:0; background:none;}
		&__tit{font-size:19px;
			& span{font-size:24px;}
		}
		&__img{width:120px; height:79px; margin-top:25px;}
		&__txt{font-size:12px;}
		&__bg{display:block;}
		&__ci{display:none;}
		&__ci-m{display:block; font-size:18px; color:#fff; font-weight:400;}
		&__ci-txt{padding:0px 15px; font-size:12px; line-height:1.5; box-sizing:border-box;}
	}
}
