@charset "UTF-8";
@import "variables";
@import "mixins";
.contact{
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size) {
		&__box{height:auto; width:100% !important; padding-left:0 !important;
			&.type-map{position:relative; height:0; padding-bottom:131.37%;}
		}
	}
}
.address{margin-top:30px;
	&__list{width:100%; padding:0; margin:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none;}
	&__subject{margin:0; font-size:14px; font-weight:600; color:$red;}
	&__txt{margin:10px 0 0 0; font-size:14px; color:#fff;}
	@media only screen and (max-width:$tablet-size) {margin-top:15px;
		&__item{float:none; width:100%; line-height:1.3;
			& + .address__item{margin-top:30px;}
		}
		&__subject{font-size:12px;}
		&__txt{font-size:12px;}
	}
}

.map-box{display:block; width:100%; height:500px;
		@media only screen and (max-width:$tablet-size) {position:absolute; top:0; left:0; height:100%;}
}
