@charset "UTF-8";
@import "variables";
@import "mixins";
.festival{
	&__wrap{text-align:center;}
	&__sub-tit{margin:0; font-size:24px; color:#fff; font-weight:200;}
	&__tit{margin:24px 0 0 0; font-size:48px; color:#fff; font-weight:600; line-height:1.5;}
	&__slide{margin-top:50px;}
	@media only screen and (max-width:$tablet-size) {
		&__sub-tit{font-size:15px;}
		&__tit{margin-top:18px; font-size:24px;}
	}
}
.festival-visual{height:900px;
	@media only screen and (max-width:$tablet-size) {height:450px;}
}
