@charset "UTF-8";
@import "variables";
@import "mixins";

html,body {display:block; position:relative; width:100%; height:100%; margin:0; padding:0; background-color:#00061a;}
body { font-size:14px; font-family:'notokr', sans-serif; word-break:keep-all; color:#222; font-weight:400;
	&.is-active{position: fixed; overflow: hidden; width: 100%; height: 100%;}
}
html{
	&.is-active{position: fixed; overflow: hidden; width: 100%; height: 100%;}
}
input,button {border-radius:0;-webkit-appearance:none}
.body__wrap{height:100%;}
.wrap{position:relative; width:1280px; margin:0px auto; padding:0px 20px; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size) {width:100%; padding:0px 15px;}
	&.type-another{height:100%;}
}
.header{position:fixed;top:0; width:100%; height:100px; z-index:999; background-color:rgba(0,4,11,0.8);
	@media only screen and (max-width:$tablet-size) {height:45px;}
}
.logo{position:absolute; top:17px; left:0; margin:0; z-index:3400;
	// &.is-hidden{display:none;}
	@media only screen and (max-width:$tablet-size) {
		top:7px; left:15px; width:49px;  margin:auto;
		& img{width:100%; }
	}
}
.footer{position:relative; height:100px; background-color:#000;
	&__wrap{display:table-cell; height:100px; width:1%; vertical-align:middle;}
	&__txt{float:left; display:inline-block; margin:0; font-size:13px; color:#fff; font-weight:200;}
	&__img{vertical-align:middle;
		& + .footer__img{margin-left:50px;}
	}
	&__logo{position:absolute; top:30px; right:0;}
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size) {height:auto;
		&__wrap{display:block; width:100%; height:auto; padding:15px 0;}
		&__txt{float:none; display:block; font-size:12px;}
		&__logo{position:static; margin-top:15px;}
		&__img{
			&:nth-child(1){width:47px; height:20px;}
			&:nth-child(2){width:60px; height:15px;}
			& + .footer__img{margin-left:20px;}
		}
	}
}

.gnb { position:absolute; left:0; right:0; z-index:400; height:100px; padding-left:168px; box-sizing:border-box;
	$this:&;
	&__wrap{height:inherit;}
	&__box{height:inherit;}
	&__tit { box-sizing: border-box; position: absolute; z-index: -1; left:-1000px; right:-1000px; top: 100px; height: 0; text-indent: -999em; margin:0;
		&:not(.zxcv):after { display:block; opacity:0; transition:opacity .3s; transition-delay: .3s; }
		.js-open-d & { height: 182px; background-color:#fff;
			&:after { content:''; }
			&:not(.zxcv):after { opacity:1; transition:opacity 0s; transition-delay: 0s; }
			&.is-active{height:394px;}
		}
	}
	&__depth1-list { height:inherit; margin:0 auto; padding:0; list-style:none; font-size:0; box-sizing:border-box;
	}
	&__depth1-item {position:relative; display:inline-block; height:inherit; color:#fff; font-size:16px; vertical-align:top; text-align:center; font-weight:500; box-sizing:border-box;
		&.js-open-d{
			& .gnb__depth2-list{margin-top:0px;}
		}
		& + .gnb__depth1-item{margin-left:20px;}
		&.nth-0 + .gnb__depth1-item{margin-left:0px;}
		&:after{display:block; clear:both; content:'';}
	}
	&__depth1-link { position:relative; display:table-cell; height:inherit; padding:0 10px; color:inherit; text-decoration:none; vertical-align:middle; text-transform: uppercase;
		&:not(.zcxv) { overflow: hidden; }
		&:before { display: none; }
		#{$this}__depth1-item.hover & { color: #50b947; }
		&.is-active{color:$red;
			&:after{position:absolute; left:10px; bottom:34px; display:block; width:95%; width:calc(100% - 20px); width:-webkit-calc(100% - 20px);  width:-moz-calc(100% - 20px);
				height:0; padding:0 10px; border-bottom:1px solid $red; box-sizing:border-box; content:'';}
		}
		@media only screen and (max-width:$tablet-size) {
			&.is-active{color:inherit;
				&:after{display:none;}
			}
		}
	}
	&__menu {position:absolute; height:80px;  font-size:14px;}
	&__menu-wrap{display:table-cell; height:80px; width:1%; padding:0px 30px; vertical-align:middle; text-align: right;}
	&__menu-global{display:inline-block; padding:2px 0;
		&.is-active{border-bottom:1px solid #4d2ee6;}
		& + .gnb__menu-global{margin-left:18px;}
	}
	&__menu-close{display:none;}
	@media only screen and (max-width:$tablet-size) {
		z-index:3000; height:45px; width:100%; padding:0;  background-color:#000;
		&__wrap{overflow-x:hidden; overflow-y:auto; display:block; position:fixed; right:-100%; top:0px; bottom:0; z-index:3200; width:100%; height:auto; margin:0; transition:right ease-out 0.3s; padding-left:80px; box-sizing:border-box; background-clip: content-box;
			.js-open-m & {right:0px;}
			.js-fixed & { top:0px; }
		}
		&__box{position:relative; height:100%; border-left:1px solid $red; background-color:#00051a;}
		&__tit { position: absolute; z-index: 3500; top: 0; left:auto; right: 0; bottom: 0; width: 47px; min-height: 26px; margin:auto 0px;  text-indent: -999em; transition: none; cursor: pointer; border-top:none;
			&:not(.zxcv):before,
			&:not(.zxcv):after,
			>span:before,
			>span:after { position:absolute;top:0;bottom:0;left:0;right:0;width:17px;height:0;border-top:2px solid #fff; margin:auto; transform:rotate(0deg);transition: .3s; content:''; opacity:1; }
			&:not(.zxcv):before { top:16px;}
			&:not(.zxcv):after { bottom:16px;}
			.js-open-m & {
				&:before {width:0; transform:translateX(-50%);}
				&:after {width:0; transform:translateX(50%);}
				>span:before {transform:rotate(-45deg);}
				>span:after {transform:rotate(45deg);}
			}
		}
		&.js-open-m {
			&:after { position:fixed; top:0; bottom:0; left:0; right:0; background-color:rgba(0,0,0,0.4); content:''; }
		}
		&__depth1-list {height:auto; padding-top:45px;}

		&__depth1-item { display:block; position:relative; width:100%; margin-left:0 !important; text-align:left; transition:background-color ease-in-out 0.25s; font-size:14px; border-bottom:1px solid #080f2f;
			&.js-open-m #{$this}__depth2-list { max-height:1000px; background-color:#fafafa; transition:max-height ease-in 0.15s;}
			&.js-open-m #{$this}__depth1-link {
				&:after { top:17px; border-color:#000; transform:rotate(-225deg); }
			}
			&.is-active{background-color:$red;}
		}
		&__depth1-link { z-index:90; height:45px; width:1%; padding:0 16px;}
	}
}

.dim{display:none; position:fixed; top:0;left:0;right:0;bottom:0; background-color:rgba(0,0,0,0.5); z-index:-2;content:'';
	&.is-active{display:block;}
}
