@charset "UTF-8";
@import "variables";
@import "mixins";
.calendar{color:#fff;
	&__tit{position:relative; cursor:pointer;
		&:after{position:absolute; top:0; bottom:0; right:-30px; width:0px; height:0px; margin:auto 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 5px solid #fff; transition: all 0.5s; content:'';}
		&.is-active{
			&:after{transform: rotate(180deg);}
		}
	}
	&__select{display:none; position:absolute; left:0; right:0; width:140px;  height:180px; margin:15px auto 0; border:1px solid #fff;
		&.is-active{display:block;}
	}
	&__month{position:relative; font-weight:600; font-size:36px; text-align:center;
		@media only screen and (max-width:$tablet-size) {font-size:15px;}
	}
	&__list{margin:50px 0 0 0; padding:0;text-align: justify;
		&:after{display:inline-block; width:100%; content:'';}
		@media only screen and (max-width:$tablet-size) {margin:0; text-align:center;
			&:after{clear:both;}
		}
	}
	&__item{display:inline-block;  list-style:none; text-align:center; color:rgba(255,255,255,0.1);
		&.is-active{color:#fff; font-weight:600;}
		&.is-today{color:$red; font-weight:600;
			& .calendar__date{text-decoration: underline;}
			& .calendar__dot{background-color:$red;}
		}
		@media only screen and (max-width:$tablet-size) {float:left; width:14.28%; padding:12px 0px;}
	}
	&__day{display:block; font-size:12px; font-weight:200; color:rgba(255,255,255,0.3);
		@media only screen and (max-width:$tablet-size) {display:none;}
	}
	&__wrap{position:relative; height:20px; margin-bottom:10px;
		@media only screen and (max-width:$tablet-size) {height:auto; margin-bottom:5px;}
	}
	&__date{
		@media only screen and (max-width:$tablet-size) {font-size:12px;}
	}
	&__box{position:absolute; width:100%; left:0; bottom:0; text-align:center;}
	&__dot{overflow:hidden; display:inline-block; width:3px; height:3px; border-radius: 50%; background-color:#fff; text-indent:-9999px; vertical-align:bottom}
	&__btn{position:absolute; top:0; bottom:0; width:7px; height:13px; margin:auto 0; background:url('../images/common/calendar_btn.png'); text-indent:-9999px; background-size:14px 13px}
	&__btn-prev{left:0;}
	&__btn-next{right:0; background-position: -7px 0px;}
	&__week{padding:0; margin:30px 0 0 0;
		&:after{display:block; clear:both; content:'';}
	}
	&__week-item{float:left; width:14.28%;font-size:11px; font-weight:200; color:rgba(255,255,255,0.3); list-style:none; text-align:center;}
}
