@charset "UTF-8";
@import "variables";
@import "mixins";
.view{overflow:hidden; width:100%; min-width:1280px; margin-top:180px; color:#fff;
	&.type-concert{margin-top:100px;
		& .view__body{margin-top:0; border-top:none; padding:60px 0 80px;}
	}
	&__tit{margin:0;font-size:30px; font-weight:600; line-height:1.5;}
	&__date{display:inline-block; margin:0; font-size:16px; font-weight:200; vertical-align:middle;}
	&__btn{display:inline-block; margin:0 0 0 20px;; width:70px; height:30px; text-align:center; font-size:14px; border:1px solid #fff; line-height:30px; color:inherit; text-decoration:none; vertical-align:middle;}
	&__info{margin-top:20px; font-size:0;}
	&__body{margin-top:20px; padding:40px 0 80px; box-sizing:border-box; border-top:2px solid #fff; border-bottom:2px solid #fff; line-height:1.5;
		& img{width:100%;}
	}
	&__list{margin:0 0 0 -20px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:20px; box-sizing:border-box; list-style:none;
		& iframe{width:100%; min-height:375px;}
	}
	&__footer{margin-top:40px;}
	&__body-tit{font-size:26px;}
	&__visual{position:relative; text-align:center; padding-bottom:480px;}
	&__visual-img{position:absolute; top:0; left:-1000px; right:-1000px; max-width:1920px; margin:0px auto;}
	&__visual-info{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__visual-wrap{display:table; height:100%;}
	&__visual-vertical{display:table-cell; width:1%; vertical-align: middle;}
	&__visual-date{margin:0; font-size:36px;}
	&__visual-tit{margin:30px 0 0 0; font-size:56px;}
	@media only screen and (max-width:$tablet-size) {min-width:auto; margin-top:70px;
		&.type-concert{margin-top:45px;
			& .view__body{padding:30px 0px;}
		}
		&__header{position:relative; padding-top:30px;}
		&__tit{font-size:20px;}
		&__date{font-size:11px;}
		&__btn{width:52px; height:22px; margin-left:15px; font-size:11px; line-height:22px;}
		&__body{margin-top:25px; padding:0 0 30px 0; border-top:none; border-bottom:1px solid #fff; font-size:12px;}
		&__visual{padding-bottom:0;}
		&__visual-img{position:static; width:100%;}
		&__visual-date{font-size:20px;}
		&__visual-tit{font-size:23px;}
		&__item{width:100%;
			& + .view__item{margin-top:15px;}
		}
		&__info{position:absolute; top:0; left:0; margin:0;}
		&__footer{margin-top:20px;}
	}
	@media only screen and (max-width:$mobile-size) {
		&__visual{height:0; width:100%; padding-bottom:90.625%;}
		&__visual-img{position:absolute;  width:auto; height:100%; }
	}
}
.view-btn{
	&__list{margin:0; padding:0; text-align:center; color:#fff; font-size:14px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; display:inline-block; list-style:none; padding-left:17px;
		&.type-prev{float:left;}
		&.type-list{
			&:before{background-position:0px -12px;}
		}
		&.type-next{float:right; padding:0; padding-right:17px;
			&:before{left:auto; right:0; background-position:0px -24px;}
		}
		&:before{position:absolute; top:0; left:0; bottom:0; display:inline-block; width:12px; height:12px; margin:auto 0; background:url('../images/common/view_icon.png'); content:'';}
	}
	&__link{text-decoration:none; color:inherit;}
}
