@charset "UTF-8";
@import "variables";
@import "mixins";

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-thin.eot');
    src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-thin.woff2') format('woff2'),
         url('../fonts/notokr-thin.woff') format('woff'),
         url('../fonts/notokr-thin.ttf') format('truetype'),
         url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-light.woff2') format('woff2'),
         url('../fonts/notokr-light.woff') format('woff'),
         url('../fonts/notokr-light.ttf') format('truetype'),
         url('../fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-demilight.eot');
    src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-demilight.woff2') format('woff2'),
         url('../fonts/notokr-demilight.woff') format('woff'),
         url('../fonts/notokr-demilight.ttf') format('truetype'),
         url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-medium.woff2') format('woff2'),
         url('../fonts/notokr-medium.woff') format('woff'),
         url('../fonts/notokr-medium.ttf') format('truetype'),
         url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-bold.woff2') format('woff2'),
         url('../fonts/notokr-bold.woff') format('woff'),
         url('../fonts/notokr-bold.ttf') format('truetype'),
         url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-black.woff2') format('woff2'),
         url('../fonts/notokr-black.woff') format('woff'),
         url('../fonts/notokr-black.ttf') format('truetype'),
         url('../fonts/notokr-black.svg#notokr-black') format('svg');
    font-weight: 700;
    font-style: normal;
}
//비쥬얼
.visual{overflow:hidden; position:relative;
	$this:&;
	&__list{margin:0; padding:0; height:100%;}
	&__item{color:#fff;
		width:100%; height:100%;
		overflow:hidden; position:relative;
		&.main-1{background:url('../images/common/main_1.jpg') center center; background-size:cover;  }
		&.main-2{background:url('../images/common/main_2.jpg') center center; background-size:cover; }
		&.main-3{background-color:green;}

		&.festival-1{background:url('../images/festival/festival_1.jpg') center center; background-size:cover; }
		&.about-3{background-color:green;}
		@media only screen and (max-width:$tablet-size) {
			&.main-1{background:url('../images/common/main_1_m.jpg') center center; background-size:cover;  }
		}
	}
	&__btn{position:absolute; top:0; bottom:0; width:40px; height:40px; margin:auto 0; background:url('../images/common/visual_btn1.png'); z-index:100;
		@media only screen and (max-width:$tablet-size) {display:none;}
	}
	&__btn-prev{left:20px;
		&:hover{ background:url('../images/common/visual_btn2.gif');}
	}
	&__btn-next{right:20px; background-position:-40px 0px;
		&:hover{ background:url('../images/common/visual_btn2.gif'); background-position:-40px 0px; }
	}
	&__sub-tit{margin:0; font-size:40px; font-weight:200;
		@media only screen and (max-width:$tablet-size) {font-size:20px;}
	}
	&__tit{margin:60px 0 0 0; font-size:72px; font-weight:600;
		@media only screen and (max-width:$tablet-size) {margin-top:25px; font-size:36px;}
	}
	&__txt{margin:30px 0 0 0; font-size:18px; font-weight:200; line-height:1.55;}
	&__wrap{display:table-cell; width:1%;vertical-align:middle;}
	&__link{display:inline-block; width:190px; height:60px; margin-top:60px; border:1px solid $red; font-weight:600; font-size:18px; color:$red; text-align:center; line-height:60px; text-decoration:none; border-radius: 10px;
		&:hover{background-color:$red; color:#fff;}
		@media only screen and (max-width:$tablet-size) {width:115px; height:35px; line-height:35px; margin-top:115px; font-size:13px; border-radius: 5px;}
		@media only screen and (max-width:$mobile-size) {margin-top:50px;}
	}
	&__indigate{display:none; position:absolute; left:20px; bottom:110px; z-index:250;
		&.is-active{display:block;}
		@media only screen and (max-width:$tablet-size) {bottom:50px;}
		@media only screen and (max-height:800px) {bottom:40px;}
		&.type-festival{left:0; right:0; bottom:25px; margin:0 auto; text-align:center;
			@media only screen and (max-width:$tablet-size) {display:block;
				& .visual__page{float:none; display:inline-block;}
			}
		}
	}
	&__page{float:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__page-item{float:left; overflow:hidden; width:12px; height:12px; border:1px solid #fff; border-radius:50%; text-indent:-9999px; cursor:pointer;
		&.cycle-pager-active{border:1px solid $red; background-color:$red;}
		& + #{$this}__page-item{margin-left:10px;}
		@media only screen and (max-width:$tablet-size) {width:4px; height:4px;
			& + #{$this}__page-item{margin-left:7px;}
		}
	}
	&__play{display:inline-block; width:12px; height:12px; margin-left:10px; background:url('../images/common/visual_btn3.png'); z-index:100; vertical-align:top;
		&.is-play{background-position:0px 0px;}
		&.is-pause{background-position:0px -12px;}
		@media only screen and (max-width:$tablet-size) { width: 6px; height:6px; margin-left:7px; background-size:6px 12px;
			&.is-play{background-position:0px 0px;}
			&.is-pause{background-position:0px -6px;}
		}
	}
}

.sns{
	&__list{display:none; position:absolute; top:0; right:180px; bottom:0; margin:auto 0; height:16px;
		&:after{display:block; clear:both; content:'';}
		&.type-footer{float:left; position:static; display:block; padding:0; margin-left:10px; line-height:41px;}
	}
	&__item{float:left;  list-style:none; background:url('../images/common/sns_icon.png');
		&.nth-2{background-position:0px -16px;}
		&.nth-3{background-position:0px -32px;}
		&.nth-4{background-position:0px -48px;}
		& + .sns__item{margin-left:12px;}
	}
	&__link{overflow:hidden; display:block; width:18px; height:16px;  text-indent: -9999px;}
	@media only screen and (max-width:$tablet-size) {
		&__list{display:block; position:static; height:auto; margin-top:24px; padding:0 16px;
			&.type-footer{display:none;}
		}
		&__item{float:left;  list-style:none; background:url('../images/common/sns_icon_m.png'); background-size:29px 116px;
			&.nth-2{background-position:0px -29px;}
			&.nth-3{background-position:0px -58px;}
			&.nth-4{background-position:0px -87px;}
			& + .sns__item{margin-left:12px;}
		}
		&__link{width:29px; height:29px;}
	}
}
.global{position:absolute; top:0; bottom:0; right:0; width:85px; height:30px; margin:auto 0; border:1px solid #fff;
	&__wrap{position:relative;
		&.is-active{
			& .global__list{max-height:150px;}
			& .global__tit:after{transform: rotate(180deg);}
		}
	}
	&__tit{display:block; padding:0px 10px; height:30px; color:#fff; text-decoration:none; line-height:30px; cursor:pointer;
		&:after{position:absolute; top:0; bottom:0; right:10px; width:0px; height:0px; margin:auto 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; transition: all 0.5s; content:'';}
	}
	&__tit-link{color:inherit; text-decoration:none;}
	&__list{overflow:hidden; max-height:0; position:absolute; left:-1px; top:30px; width:85px; padding:0; margin:0; border:1px solid #fff; border-top:none; transition: all 0.5s; background-color:#000;}
	&__item{list-style:none;}
	&__link{display:block; height:30px; padding:0px 10px; color:#fff; text-decoration:none; line-height:30px;
		&:hover{color:$red;}
		&.type-another{padding:0;}
	}
	@media only screen and (max-width:$tablet-size) {bottom:auto; right:auto; left:0; width:auto; padding-left:6px; border:none;
		&__tit{float:left; height:45px; line-height:45px;
			&:after{display:none;}
		}
		&__list{float:left; overflow:visible; max-height:none; position:static; border:none; width:auto;}
		&__item{float:left; margin-left:8px;
		}
		&__link{height:45px; line-height:45px;
			&.type-another{}
		}
	}
}
.filter{margin-left:-20px;
	&:after{display:block; clear:both; content:'';}
}
.search{float:left; position:relative; display:inline-block; width:50%; padding-left:20px; box-sizing:border-box;
	&__wrap{position:relative; padding-right:40px; box-sizing:border-box;}
	&__box{position:relative;}
	&__btn{position:absolute; top:0; right:0; width:40px; height:40px; text-indent: -9999px; background:url('../images/common/search_btn_b.png') no-repeat center center; background-size:18px 18px;}
	&.type-another{float:right;}
	@media only screen and (max-width:$tablet-size) {width:100%;
		&__wrap{padding-right:35px;}
		&__btn{width:35px; height:35px;}
	}
}
.search-input{width:100%; height:40px; padding:0px 45px 0px 15px; line-height:40px; border:none; outline:none; background-color:#fff; box-sizing:border-box; font-size:14px;
	@media only screen and (max-width:$tablet-size) {height:35px; padding: 0px 35px 0px 10px; line-height:35px; font-size:12px;}
}

.select{ margin-left:-20px;
	&__wrap{float:left; width:50%; padding-left:20px; box-sizing:border-box;}
	&__bundle{position:relative;}
	&__box{width:100%; padding:0px 12px; border:1px solid #fff; box-sizing:border-box; color:#fff;
		& a {position:relative; display:block; margin:0; height:38px; line-height:38px; text-decoration:none; color:inherit; font-size:14px; text-transform: uppercase;
			&:after{position:absolute; top:0; bottom:0; right:0px; width:0px; height:0px; margin:auto 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; transition: all 0.5s; content:'';}
		}
		&.is-active{
			& a:after{transform: rotate(180deg);}
		}
	}
	&__menu{position:absolute; display:none; overflow:auto; width:100%; height:200px; margin:0; padding:5px 0 5px 12px; border:1px solid #fff; border-top:none; background-color:#00061a; transition: height 0.5s; box-sizing:border-box; z-index:200;
		&.is-active{display:block;}
		&.type-calender{display:block; width:50%; height:180px; padding:10px 5px; font-size:14px; font-weight:200; border:none;}
		&.type-day{left:auto; right:0;}
	}
	&__item{list-style:none;}
	&__btn{height:38px; line-height:38px; color:#fff; text-decoration:none; text-transform: uppercase;
		&:hover{color:$red;}
		&.is-active{color:$red;}
	}
}


.btn1{overflow:hidden; position:absolute; top:0; right:0; display:inline-block; width:40px; height:40px;  color:#fff; font-weight:500; font-size:14px;text-decoration:none; text-align:center; line-height:40px; text-indent:-9999px;
	background:url('../images/common/reset_btn.png') no-repeat center center; background-color:$red; background-size:18px 17px;
	@media only screen and (max-width:$tablet-size) {width:35px; height:35px;}
}




.content{min-height:100%; box-sizing:border-box;
	&__visual{position:relative; width:100%; height:254px; text-align:center; background:url('../images/common/sub-visual6.jpg') no-repeat center center; background-size:cover;}
	&__visual-wrap{position:absolute; top:0; left:0; width:100%; height:100%;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__visual-tit{position:relative; display:inline-block; margin-top:50px; font-size:16px; font-weight:500; color:#fff; vertical-align:middle;
		&:after{position:absolute; bottom:-10px; left:0; right:0; width:30px; height:0; margin:0 auto; border-bottom:2px solid $red; content:'';}
	}
	&__wrap{padding-bottom:140px;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size) {padding-bottom:70px;}
	}
	@media only screen and (max-width:$tablet-size) {padding-bottom:60px;
		&__visual{position:relative; width:100%; height:0; padding-bottom:46.87%;}
		&__visual-tit{margin-top:0px; font-size:18px;}
	}
}
.list-v1{margin-top:30px;
	$this:&;
	&__main{height:295px; color:#fff; margin-right:-20px;}
	&__main-box{position:relative; float:left;width:50%; height:100%; box-sizing:border-box;
		& img{height:100%;}
		&.type-txt{padding-right:20px;
			&:after{display:inline-block; position:absolute; top:30px; left:-20px; border-bottom: 10px solid transparent; border-right: 20px solid $red; border-top: 10px solid transparent; transition: all 0.5s; content:'';}
		}
	}
	&__main-wrap{height:100%; padding:30px 20px; background-color:$red; box-sizing:border-box; }
	&__category{display:inline-block; margin:0; font-size:14px; font-weight:600;}
	&__date{float:right; margin:0; font-size:16px;}
	&__tit{overflow:hidden;  white-space: nowrap; margin:25px 0 0 0; font-size:24px; font-weight:600; text-overflow: ellipsis; }
	&__txt{overflow:hidden; display:-webkit-box; margin:40px 0 0 0; font-size:14px; -webkit-line-clamp:5; -webkit-box-orient: vertical; word-wrap:break-word; line-height:1.5em; height:7.5em; text-overflow: ellipsis;}
	&__list{margin:0 0 0 -20px; padding:0px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; height:295px; margin-top:20px; padding-left:20px; box-sizing:border-box; list-style:none;
		&.type-news{
			& #{$this}__content-box{background-color:#fff;}

		}
		&.type-notice{color:#fff;
			& #{$this}__content-box{background-color:#021e7c;}
		}
		& .list-v4__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8); color:#fff; box-sizing:border-box;}
	}
	&__content-box{position:relative;height:100%; padding:20px; box-sizing:border-box;
		& .list-v1__txt{-webkit-line-clamp:4; height:6em; margin-top:25px;}
		& .list-v1__tit{display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient: vertical; word-wrap:break-word; line-height:1.2em; height:3.6em; white-space: normal;}
	}
	&__hover{overflow:hidden; position:absolute; bottom:-20px; right:-20px; width:100%; height:100%; padding:20px 30px 50px; background-color:#000; border:1px solid $red; color:#fff; box-sizing:border-box; opacity:0;
		transition: all 0.5s;-webkit-transition:all 0.5s; z-index:10;
		&:after{position:absolute; bottom:0; right:0; display:inline-block; width:30px; height:30px; background:url('../images/news/list-v1_icon.png'); content:'';}
		&.is-active{display:block;  bottom:0px; right:0px; opacity:1;}
	}
	&__hover-tit{font-size:24px; font-weight:500; color:#fff;}
	&__hover-category{position:absolute; left:30px; bottom:20px; margin:0; font-size:16px; color:$red; font-weight:400;}
	&__link{display:block; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px; z-index:100;}
	@media only screen and (max-width:$tablet-size) {margin-top:15px;
		&__main{margin:0;}
		&__main-box{width:100%;
			&.type-img{position:relative; width:100%; height:0; padding-bottom:46.825%;
				& img{position:absolute; top:0; left:0; width:100%; height:100%;}
			}
			&.type-txt{padding:0; height:183px;
				&:after{top:-25px; left:0; right:0;  width:0; margin:0px auto; border-up:none; border-bottom: 20px solid $red; border-left: 10px solid transparent; border-right: 10px solid transparent;}
			}
		}
		&__main-wrap{padding:15px;}
		&__category{font-size:11px;}
		&__date{font-size:11px;}
		&__tit{display:-webkit-box; -webkit-line-clamp:2 !important; -webkit-box-orient: vertical; word-wrap:break-word; line-height:1.2em; height:2.4em !important; white-space: normal; margin-top:10px;font-size:13px;}
		&__txt{margin-top:15px !important;font-size:12px; -webkit-line-clamp:4; height:6em;}
		&__list{margin:0; padding-bottom:25px;}
		&__content-box{padding:15px}
		&__hover{display:none;}
		&__item{width:100%; height:185px; margin-top:10px;padding:0;}
	}
}

.btn-wrap{position:relative; width:100%; margin-top:60px; text-align:center;
	@media only screen and (max-width:$tablet-size) {margin-top:20px;}
}
.btn__more{position:relative; display:inline-block; padding:20px 38px 20px 20px; color:#fff; text-decoration:none;
	&:after{position:absolute; top:0; right:20px; bottom:0; width:12px; height:7px; margin:auto 0;background:url('../images/common/more_icon.png'); content:'';}
	@media only screen and (max-width:$tablet-size) {font-size:11px; padding:15px 24px 15px 15px;
		&:after{right:15px; bottom:0; width:6px; height:4px; background-size:6px 4px;}
	}
}
.list-v2{
	$this:&;
	&__list{padding:0; margin:0; list-style:none;}
	&__item{border-bottom:1px solid #1a1e31; line-height:1.5;
		&:first-child{border-top:1px solid #1a1e31;}
		&.is-active{
			& #{$this}__header{color:$red;
				&:before{color:#fff; background-color:$red; border-color:$red;}
			}
		}
	}
	&__header{position:relative;padding:30px 60px; box-sizing:border-box; color:#fff; cursor:pointer;
		&:before{position:absolute; top:22px; left:0; display:inline-block; width:40px; height:40px; border:1px solid #fff; line-height:40px; font-size:20px; font-weight:200; text-align:center;content:'Q';}
	}
	&__tit{margin:0; font-size:18px; font-weight:400;}
	&__txt{margin:0; font-size:14px; color:#ccc;}
	&__content{display:none; position:relative;padding:30px 60px; box-sizing:border-box; color:#fff;
		&:before{position:absolute; top:22px; left:0; display:inline-block; width:40px; height:40px; border:1px solid #fff; line-height:40px; font-size:20px; font-weight:200; text-align:center;content:'A';}
	}
	@media only screen and (max-width:$tablet-size) {
		&__tit{font-size:14px;}
		&__txt{font-size:12px;}
		&__header{min-height:60px; padding:15px 0px 15px 40px;
			&:before{top:16px; width:30px; height:30px; line-height:30px; font-size:18px;}
		}
		&__content{min-height:60px; padding:15px 0px 15px 40px;
			&:before{top:16px; width:30px; height:30px; line-height:30px; font-size:18px;}
		}
	}
}

.list-v3{
	&__list{margin:-20px 0 0 -20px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; margin-top:20px; padding-left:20px; list-style:none; box-sizing:border-box;}
	&__box{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__subject{position:absolute; left:0; bottom:0; width:100%;padding:15px 20px 10px; background-color:rgba(2,30,124,0.85); box-sizing:border-box; color:#fff;}
	&__date{margin:0; font-size:14px; font-weight:200;}
	&__tit{overflow:hidden; margin:10px 0 0 0; font-size:16px; font-weight:500; text-overflow: ellipsis; white-space:nowrap;}
}


.list-v4{
	$this:&;

	&.type-another{margin-top:0;}
	&__list{padding:0; margin:-20px 0 0 -20px;
		&:after{display:block; clear:both; content:'';}
		&.type-three{
			& .list-v4__item{width:33.33%;}
		}
	}
	&__item{float:left; width:25%; margin-top:20px; padding-left:20px; list-style:none; box-sizing:border-box;
		&.type-schedule{
			& #{$this}__content-box{background:none;}
			& #{$this}__content-info{position:static; padding:30px;}
			& #{$this}__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8); box-sizing: border-box;}
		}
		&.type-event{
			& #{$this}__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8); box-sizing: border-box;}
		}
		&.type-another{
			& #{$this}__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8); box-sizing: border-box;}
		}
		&.type-news{
			& #{$this}__date{color:#222;}
			& #{$this}__content-box{background:none; background-color:#fff;}
			& #{$this}__content-info{position:static; padding:30px 20px;}
			& #{$this}__tit{-webkit-line-clamp:3;  height:3.6em; margin-top:25px; color:#222;}
		}
		&.type-concert{
			& #{$this}__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8);}
		}
		&.type-notice{
			& #{$this}__content-box{background:none; background-color:#021e7c;}
			& #{$this}__content-info{position:static; padding:30px 20px;}
			& #{$this}__tit{-webkit-line-clamp:3;  height:3.6em; margin-top:25px; color:#222; color:#fff;}
			& #{$this}__txt{color:#fff;}
			& #{$this}__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8);}
		}
	}
	&__content-wrap{position:relative; width:100%; height:0; padding-bottom:100%; color:#fff;}
	&__content-box{position:absolute; bottom:0px; left:0; width:100%; height:100%; background:url('../images/common/img_gra.png') repeat-x center bottom; z-index:50;}
	&__content-info{position:absolute; left:0; bottom:0; padding:20px; box-sizing:border-box;}
	&__date{margin:0; font-size:14px;}
	&__day{position:absolute; top:0; left:0; width:100%; height:100%; margin:0;font-size:130px; font-weight:600; text-align:center;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		& span{display:inline-block; vertical-align:middle; margin-left:-20px;}
	}
	&__time{position:relative; padding-left:22px; line-height:16px;
		&:before{position:absolute; top:1px; left:0px; width:16px; height:16px; background:url('../images/common/time_icon.png'); background-size:16px 16px; content:'';}
	}
	&__dim{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/common/bg_schedule.png'); z-index:70;}
	&__tit{display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical; word-wrap:break-word; line-height:1.2; height:58px; margin:20px 0 0 0; font-size:24px; font-weight:600; text-overflow: ellipsis; overflow:hidden; }
	&__txt{overflow:hidden; display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient: vertical; word-wrap:break-word; margin:25px 0 0 0; line-height:1.5em; height:6em; font-size:14px; text-overflow: ellipsis; color:#222; font-weight:400;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__hover{opacity:0; position:absolute; top:0px; left:0px; width:100%; height:100%; background:url('../images/common/bg_circle.png'); z-index:90; text-align:center; transition: all 0.5s; -webkit-transition: all 0.5s;
		&.is-active{opacity:1; top:0; left:0;}
	}
	&__hover-wrap{display:table; width:100%; height:100%; text-align:center;}
	&__hover-vertical{display:table-cell; width:1%; height:100%; vertical-align:middle;}
	&__hover-category{margin:0; font-size:16px; font-weight:400;
		&:before{display:block; width:50px; height:50px; margin:0px auto 10px; background:url('../images/common/plus.png'); content:'';}
	}
	&__link{display:block; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px; z-index:100;}
	@media only screen and (max-width:$tablet-size) {margin-top:15px;
		&.type-festival{
			& .list-v4__content{ overflow-x:auto; overflow-y: hidden; -webkit-overflow-scrolling: touch;}
			& .list-v4__list{overflow:visible; white-space:nowrap; text-align:left;}
			& .list-v4__item{float:none; display:inline-block; width:300px;}
			& .list-v4__content-wrap{white-space:normal;}
			& .type-no{display:none;}
		}
		&__list{margin-left:-15px;}
		&__item{width:50%; margin-top:15px; padding-left:15px;
			&.type-news{
				& #{$this}__tit{-webkit-line-clamp:4;  line-height:1.8;height:7.2em; margin-top:15px;}
			}
			&.type-event{width:100%;}
		}
		&__tit{margin-top:10px; font-size:13px; height:30px;}
		&__txt{display:none;}
		&__date{font-size:11px;}
		&__content-box{background-size:contain;}
		&__hover{display:none; background-size:cover;
			&.is-active{display:none;}
		}
		&__dim{background-size:cover;}
		&__day{font-size:65px;
			& span{margin-left:-10px;}
		}
		&__time{
			&:before{width:11px; height:11px; background-size:11px 11px;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&.type-festival{
			& .list-v4__item{width:250px;}
		}
	}
	@media only screen and (max-width:$i5-size) {
		&.type-festival{
			& .list-v4__item{width:200px;}
		}
	}
}



.list-v5{
	&__list{padding:0; margin:20px 0 0 0; border-top:2px solid #80838d; border-bottom:1px solid #80838d;}
	&__item{position:relative; color:#fff; list-style:none; padding-left:90px; padding-right:15px; box-sizing:border-box; border-bottom:1px solid #1a1f31;
		&:last-child{border-bottom:none;}
	}
	&__wrap{display:table-cell; width:1%; height:90px;  vertical-align:middle;}
	&__date{position:absolute; top:0; bottom:0; left:0; width:70px; height:70px; margin:auto 0; padding:10px 0px; background-color:#021e7c; box-sizing:border-box; text-align:center;}
	&__day{margin:0;font-size:32px; line-height:1;}
	&__year{margin:7px 0 0 0; font-size:14px; font-weight:200; line-height:1;}
	&__tit{overflow:hidden;  margin:0; font-size:18px;  font-weight:400;  line-height:1.3}
	&__link{font-size:inherit; color:inherit; text-decoration: none;}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin:15px 0 0 0;}
		&__wrap{height:60px;}
		&__date{width:50px; height:50px; padding:7px 0;}
		&__day{font-size:16px;}
		&__year{font-size:11px;}
		&__item{padding-left:65px; padding-right:10px;}
		&__tit{font-size:13px; display:-webkit-box; height:32px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow:ellipsis; word-wrap:break-word;}
	}
}

.is-mobile{display:none !important;
	@media only screen and (max-width:$tablet-size) {display:block !important;}
}
//메인박스
.basic{
	&__box{width:100%; min-width:1280px;
		&.visual{overflow:hidden;}
		&.type-content{padding:140px 0px;}
		&.about-1{background:url('../images/common/about_1.jpg') center center; background-size:cover;  text-align:center;}
		&.about-2{padding:100px 0px; box-sizing:border-box; background-color:#fff;}
		&.about-3{padding:120px 0px; box-sizing:border-box; background:url('../images/about/about_bg2.jpg') no-repeat center center; text-align:center; background-size:cover;}
		@media only screen and (max-width:$tablet-size) {min-width:auto;
			&.type-content{padding:70px 0px;}
			&.about-2{padding:40px 0px;}
			&.about-3{padding:60px 0px;}
		}
		&.slide{position:relative;}
	}
}



.slide{position:relative; margin-bottom:50px;
	&__box{position:relative; overflow:hidden;}
	&__list{padding:0; margin:0; margin-left:-20px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:100%; padding-left:20px; list-style:none; box-sizing:border-box;
		& .list-v4__hover{background:none; border:1px solid $red; background-color:rgba(0,0,0,0.8); box-sizing:border-box;}
	}
	&__img{float:left;}
	@media only screen and (max-width:$tablet-size) {margin-bottom:20px;
		&__list{margin-left:-10px;}
		&__item{padding-left:10px;}
	}
}
.ticket{float:left; position:relative; display:block; width:100%; height:50px; margin-top:10px; background-color:#01124b; color:#9498aa;line-height:50px;  font-size:16px; text-align:center; text-decoration:none; transition:all 0.5s; -webkit-transition:all 0.5s;
	&:before{position:absolute; top:0; bottom:0; left:-5px; width:10px; height:10px; margin:auto 0; background-color: #000826; border-radius:50%; content:''; z-index:10;}
	&:after{position:absolute; top:0; bottom:0; right:-5px; width:10px; height:10px; margin:auto 0; background-color: #000826; border-radius:50%; content:''; z-index:10;}
	&.type-content{float:none; display:inline-block; width:295px; margin:0;}
	&:hover{background-color:$red; color:#fff;}
	@media only screen and (max-width:$tablet-size) {font-size:13px; height:30px; line-height:30px;
		&.type-content{float:none; display:inline-block; width:100%; margin:0;}
		&:before{left:-3px; width:6px; height:6px; }
		&:after{right:-3px; width:6px; height:6px; }
	}

}
.ticket-box{margin-top:40px; text-align:center;
	@media only screen and (max-width:$tablet-size) {margin-top:20px;}
}

//tab
.tab-v1{
	&__list{padding:0; margin:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:50%; height:60px; line-height:60px; border:1px solid $red; background-color:#00061a; color:#fff; list-style:none; text-align:center; box-sizing:border-box; text-transform: uppercase;
		&.is-active{background-color:$red; color:#fff;}
	}
	&__link{display:block; width:100%; height:100%; font-size:18px; font-weight:500; color:inherit;; text-decoration:none;}
	&__content{display:none;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__item{height:30px; line-height:30px;}
		&__link{font-size:13px;}
	}
}

.btn_area{
	&.type-another{
		& .visual__btn-prev{left:-60px;}
		& .visual__btn-next{right:-60px;}
		@media only screen and (max-width:$tablet-size) {display:none;}
	}
}

.btn{
	&__list{display:inline-block; margin:170px 0 0 -20px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; padding-left:20px; box-sizing:border-box; list-style:none;}
	&__link{display:block;  width:150px; height:48px; border:1px solid #fff; border-radius:5px; text-decoration:none; color:#fff; font-size:14px; font-weight:500; line-height:48px;  text-align:center;
		&:hover{background-color:$red; border:1px solid $red;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin-top:40px;}
		&__item{float:none;
			& + .btn__item{margin-top:10px; }
		}
		&__link{width:160px; height:34px; line-height:34px; font-size:12px;}
	}
}

.hidden-m{
	@media only screen and (max-width:$tablet-size) {display:none !important;}
}
.hidden-p{display:none !important;
	@media only screen and (max-width:$tablet-size) {display:block !important;}
}


// iframe{display:none !important;}
