@charset "UTF-8";
@import "variables";
@import "mixins";
.main-icon{display:none; position:absolute; left:0; right:0; bottom:50px; margin:0 auto; text-align:center; z-index:200;
	&.is-active{display:block;}
	@media only screen and (max-width:$tablet-size) {bottom:15px;}
}
.mouse-icon1{display:inline-block; width:29px; height:41px; background:url('../images/common/mouse.png'); -webkit-animation: keyMove 3s linear 0s infinite normal forwards; animation: keyMove 3s linear 0s infinite normal forwards;
	@media only screen and (max-width:$tablet-size) {width:15px; height:21px; background-size:15px 21px;}
}
.mouse-icon2{display:inline-block; width:14px; height:8px; margin-top:10px; background:url('../images/common/mouse_btn.png');
	@media only screen and (max-width:$tablet-size) {width:7px; height:4px; background-size:7px 4px;}
}
.pop-youtube{display:none;
	&.is-active{display:block;}
	@media only screen and (max-width:$tablet-size) {
		&.is-active{position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.9); margin:0; z-index:1000;}
		&__wrap{display:flex; height:100%; align-items:center; justify-content:center;}
		&__close{overflow:hidden; display:block; position:absolute; top:-22px; right:15px; width:12px; height:12px; background:url('../images/common/popup_close.png'); background-size:12px 12px; text-indent:-9999px;}
	}
	// &__box{position:relative; width:100%; padding-bottom:56.25%;}
	// &__video{position:absolute; top:0; left:0; width:100%; height:100%;}
}

.video-open{display:none; width:120px; height:120px; margin-top:40px; background-image:url('../images/common/video_play.png');
	&.is-active{display:block;}
	@media only screen and (max-width:$tablet-size) {width:60px; height:60px; margin-top:30px; background-size:60px 60px;}
}
.youtube{position:absolute; top:0; width:100%; padding-bottom:56.25%; min-width:1900px; min-height:1068px; box-sizing:border-box; z-index:500;
	@media only screen and (max-width:$tablet-size) {position:relative; top:auto; min-width:auto; min-height:auto;
		&.is-active{}
	}
}
.video1{position:absolute; top:0; left:0; width:100%; height:100%;
	@media only screen and (max-width:$tablet-size) {left:0 !important;}
}
.youtube__bg{display:none; position:absolute; width:100%; height:100%; z-index:150;
	&.is-active{display:block;}
	@media only screen and (max-width:$tablet-size) {
		&.is-active{display:none;}
	}
}

.nodata{margin-top:160px; text-align:center;
	&__txt{margin:0; font-size:24px; color:#fff; line-height: 1.4; font-weight:200;
		& span{color:$red; font-size:36px;}
	}
	&:after{display:block; width:200px; height:202px; margin:40px auto 0;  background:url('../images/common/nodata.png'); content:'';}
	@media only screen and (max-width:$tablet-size) {margin-top:50px;
		&__txt{font-size:12px;
			& span{font-size:18px;}
		}
		&:after{width:100px; height:101px; margin:20px auto 0; background-size:100px 101px;}

	}

}

@-webkit-keyframes keyMove { 00.00% { -webkit-transform: translatey(0px); transform: translatey(0px); }
  25.00% { -webkit-transform: translatey(5px); transform: translatey(5px); }
  50.00% { -webkit-transform: translatey(0px); transform: translatey(0px); }
  75.00% { -webkit-transform: translatey(5px); transform: translatey(5px); }
  100.00% { -webkit-transform: translatey(0px); transform: translatey(0px); } }
@keyframes keyMove { 00.00% { -webkit-transform: translatey(0px); transform: translatey(0px); }
  25.00% { -webkit-transform: translatey(5px); transform: translatey(5px); }
  50.00% { -webkit-transform: translatey(0px); transform: translatey(0px); }
  75.00% { -webkit-transform: translatey(5px); transform: translatey(5px); }
  100.00% { -webkit-transform: translatey(0px); transform: translatey(0px); } }
